<% provide(:title, 'Pro Access') %>

<div class="center hero-unit">

<h1>Pro Access</h1>
<p>Start mediatizing your company to the right candidates now.</p>
<p>You are just a few clicks away ...</p>

<%= link_to "Register now", new_account_registration_path, class: "btn btn-large btn-primary" %> or 
<%= link_to "Log In", new_account_session_path, class: "btn btn-large btn-primary" %>


</div>


<div class="row">
<div class="span6 offset3">
	<div class="progress progress-striped active">
  	<div class="bar" style="width: 33%;"></div>
	</div>
</div>
</div>