<h1>Update Address</h1>

<div class="row">
<div class="span6 offset3">

<%= form_for(@address) do |f| %>

  <%= render 'shared/address' %>  

  <%= f.submit "Update", class: "btn btn-large btn-primary" %>
<% end %>

</div>
</div>