<footer class="footer">
  <small>
    All Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '/' %></li>
      <li><%= link_to "Pro Access",   pro_access_path %></li>
    </ul>
  </nav>
</footer>